<%= render "../views/navigation" %>

<div class="dashbaord">
  <div class="left-secondary-half">
      <div class="form-style-5">
        <h2>Enter Address:</h2>
          <aside class="address-field">
            <input type="text" name="" value="" placeholder="Street, City, State">
          </aside>

        <h2>Choose Vehicle 1:</h2>
          <aside class="year-dropdown">
            <select class="year-menu-1">
              <option selected>Select Year</option>
            </select>
          </aside>

          <aside class="make-dropdown">
            <select class="make-menu-1">
              <option selected>Select Make</option>
            </select>
          </aside>

          <aside class="model-dropdown">
            <select class="model-menu-1">
              <option selected>Select Model</option>
            </select>
          </aside>

          <aside class="option-dropdown">
            <select class="option-menu-1">
              <option selected>Select Type</option>
            </select>
          </aside>

        <!-- break -->
        <h2>Choose Vehicle 2:</h2>
          <aside class="year-dropdown">
            <select class="year-menu-2">
              <option selected>Select Year</option>
            </select>
          </aside>

          <aside class="make-dropdown">
            <select class="make-menu-2">
              <option selected>Select Make</option>
            </select>
          </aside>

          <aside class="model-dropdown">
            <select class="model-menu-2">
              <option selected>Select Model</option>
            </select>
          </aside>

          <aside class="option-dropdown">
            <select class="option-menu-2">
              <option selected>Select Type</option>
            </select>
          </aside>

          <input id="new-comparision-submit" type="submit" name="" value="COMPARE">
      </div>
  </div>

  <div class="right-primary-half">
  </div>
</div>

<script type="text/javascript">
  $(document).ready(() => {
  $('.make-menu-1').hide()
  $('.model-menu-1').hide()
  $('.option-menu-1').hide()
  fetchYears();
  $('.make-menu-2').hide()
  $('.model-menu-2').hide()
  $('.option-menu-2').hide()
  fetchYears2();
  });

  const fetchYears = () => {
    fetch(`/api/v1/years`)
    .then((response) => response.json())
    .then((years) => {
      years.forEach((year) => {
        prependYear(year)
      })
  })}

  const prependYear = (year) => {
    $('.year-menu-1').prepend(`
      <option value="${year}">
      ${year}
      </option>
      `)
  }

  const fetchMakes = (year) => {
    $('.make-menu-1').show();
    fetch("/api/v1/makes?year=" + year)
    .then((response) => response.json())
    .then((makes) => {
      makes.forEach((make) => {
        prependMake(make)
      })
    })
  }

  const prependMake = (make) => {
    $('.make-menu-1').prepend(`
      <option value="${make}">
      ${make}
      </option>
      `)
  }

  const fetchModels = (year, make) => {
    $('.model-menu-1').show();
    fetch(`/api/v1/models?year=${year}&make=${make}`)
    .then((response) => response.json())
    .then((models) => {
      models.forEach((model) => {
        prependModel(model)
      })
    })
  }

  const prependModel = (model) => {
    $('.model-menu-1').prepend(`
      <option value="${model}">
      ${model}
      </option>
      `)
  }

  const fetchOptions = (year, make, model) => {
    $('.option-menu-1').show();
    fetch(`/api/v1/options?year=${year}&make=${make}&model=${model}`)
    .then((response) => response.json())
    .then((options) => {
      options.forEach((option) => {
        prependOption(option)
      })
    })
  }

  const prependOption = (option) => {
    $('.option-menu-1').prepend(`
      <option value="${option['value']}">
      ${option['text']}
      </option>
      `)
  }

// break

  const fetchYears2 = () => {
    fetch(`/api/v1/years`)
    .then((response) => response.json())
    .then((years) => {
      years.forEach((year) => {
        prependYear2(year)
      })
  })}

  const prependYear2 = (year) => {
    $('.year-menu-2').prepend(`
      <option value="${year}">
      ${year}
      </option>
      `)
  }

  const fetchMakes2 = (year) => {
    $('.make-menu-2').show();
    fetch("/api/v1/makes?year=" + year)
    .then((response) => response.json())
    .then((makes) => {
      makes.forEach((make) => {
        prependMake2(make)
      })
    })
  }

  const prependMake2 = (make) => {
    $('.make-menu-2').prepend(`
      <option value="${make}">
      ${make}
      </option>
      `)
  }

  const fetchModels2 = (year, make) => {
    $('.model-menu-2').show();
    fetch(`/api/v1/models?year=${year}&make=${make}`)
    .then((response) => response.json())
    .then((models) => {
      models.forEach((model) => {
        prependModel2(model)
      })
    })
  }

  const prependModel2 = (model) => {
    $('.model-menu-2').prepend(`
      <option value="${model}">
      ${model}
      </option>
      `)
  }

  const fetchOptions2 = (year, make, model) => {
    $('.option-menu-2').show();
    fetch(`/api/v1/options?year=${year}&make=${make}&model=${model}`)
    .then((response) => response.json())
    .then((options) => {
      options.forEach((option) => {
        prependOption2(option)
      })
    })
  }

  const prependOption2 = (option) => {
    $('.option-menu-2').prepend(`
      <option value="${option['value']}">
      ${option['text']}
      </option>
      `)
  }

  const getSearch = () => {
    $.ajax({
      type: 'GET',
      url: '/comparision',
      data: { vehicle_id_1: ($('.option-menu-1').children(':selected').val()),
              vehicle_id_2: ($('.option-menu-2').children(':selected').val()),
              address: ($('.address-field').children().val())
            },
      success:function(responseText) {
        $('.right-primary-half').html(responseText);
      }
    });
  }

  // Event Listeners
  $('.year-menu-1').on('change', function() {
    fetchMakes(($('.year-menu-1').find(':selected').text()).trim())
  });

  $('.make-menu-1').on('change', function() {
    fetchModels(($('.year-menu-1').find(':selected').text()).trim(), ($('.make-menu-1').find(':selected').text()).trim())
  });

  $('.model-menu-1').on('change', function() {
    fetchOptions(
      ($('.year-menu-1').find(':selected').text()).trim(), ($('.make-menu-1').find(':selected').text()).trim(), ($('.model-menu-1').find(':selected').text()).trim()
    )
  });

  $('.year-menu-2').on('change', function() {
    fetchMakes2(($('.year-menu-2').find(':selected').text()).trim())
  });

  $('.make-menu-2').on('change', function() {
    fetchModels2(($('.year-menu-2').find(':selected').text()).trim(), ($('.make-menu-2').find(':selected').text()).trim())
  });

  $('.model-menu-2').on('change', function() {
    fetchOptions2(
      ($('.year-menu-2').find(':selected').text()).trim(), ($('.make-menu-2').find(':selected').text()).trim(), ($('.model-menu-2').find(':selected').text()).trim()
    )
  });

  $('#new-comparision-submit').on('click', getSearch);

</script>
