<h2>Find Your Vehicle:</h2>

<%= form_tag search_path, method: :get do %>

  <%= number_field_tag :vehicle_id, 'Vehicle ID' %>

  <%= text_field_tag :address, 'Home Address' %>

  <%= submit_tag "Find" %>
<% end %>
