---
http_interactions:
- request:
    method: get
    uri: https://www.fueleconomy.gov/ws/rest/vehicle/menu/make?year=2018
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><menuItems><menuItem><text>Acura</text><value>Acura</value></menuItem><menuItem><text>Alfa
        Romeo</text><value>Alfa Romeo</value></menuItem><menuItem><text>Aston Martin</text><value>Aston
        Martin</value></menuItem><menuItem><text>Audi</text><value>Audi</value></menuItem><menuItem><text>Bentley</text><value>Bentley</value></menuItem><menuItem><text>BMW</text><value>BMW</value></menuItem><menuItem><text>Bugatti</text><value>Bugatti</value></menuItem><menuItem><text>Buick</text><value>Buick</value></menuItem><menuItem><text>BYD</[...]
