---
http_interactions:
- request:
    method: get
    uri: https://www.fueleconomy.gov/ws/rest/vehicle/menu/model?make=chevrolet&year=2018
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><menuItems><menuItem><text>Bolt
        EV</text><value>Bolt EV</value></menuItem><menuItem><text>Camaro</text><value>Camaro</value></menuItem><menuItem><text>City
        Express Cargo Van</text><value>City Express Cargo Van</value></menuItem><menuItem><text>Colorado
        2WD</text><value>Colorado 2WD</value></menuItem><menuItem><text>Colorado 4WD</text><value>Colorado
        4WD</value></menuItem><menuItem><text>Colorado Cab Chassis 2WD</text><value>Colorado
        Cab Chassis 2WD</value></menuItem><menuItem><text>Colorado ZR2 4WD</text><value[...]
