---
http_interactions:
- request:
    method: get
    uri: https://www.fueleconomy.gov/ws/rest/vehicle/menu/options?make=chevrolet&model=bolt%20ev&year=2018
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><menuItems><menuItem><text>Auto
        (A1)</text><value>39786</value></menuItem></menuItems>
  recorded_at: Wed, 18 Apr 2018 04:05:09 GMT
recorded_with: VCR 4.0.0
