---
http_interactions:
- request:
    method: get
    uri: https://www.fueleconomy.gov/ws/rest/vehicle/39786
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><vehicle><atvType>EV</atvType><barrels08>0.168</barrels08><barrelsA08>0.0</barrelsA08><c240Dscr></c240Dscr><c240bDscr></c240bDscr><charge120>0.0</charge120><charge240>9.3</charge240><charge240b>0.0</charge240b><city08>128</city08><city08U>127.54</city08U><cityA08>0</cityA08><cityA08U>0.0</cityA08U><cityCD>0.0</cityCD><cityE>26.427</cityE><cityUF>0.0</cityUF><co2>0</co2><co2A>-1</co2A><co2TailpipeAGpm>0.0</co2TailpipeAGpm><co2TailpipeGpm>0.0</co2TailpipeGpm><comb08>119</comb08><comb08U>119.0958</comb08U><combA08>0</combA08><combA08U>0.0</combA08U><combE>28.3007</combE><combinedCD>0.0</combinedCD><combinedUF>0.0</combinedUF><createdOn>2017-12-05T00:00:00-05:00</createdOn><cylinders></cylinders><displ></displ><drive>Front-Wheel
        Drive</drive><emissionsList><emissionsInfo><efid>JGMXV00.0002</efid><id>39786</id><salesArea>3</salesArea><score>10.0</score><scoreAlt>-1.0</scoreAlt><smartwayScore>2</smartwayScore><standard>T3B0</standard><stdText>Federal
        Tier 3 Bin 0</stdText></emissionsInfo><emissionsInfo><efid>JGMXV00.0002</efid><id>39786</id><salesArea>7</salesArea><score>10.0</score><scoreAlt>-1.0</scoreAlt><smartwayScore>2</smartwayScore><standard>ZEV</standard><stdText>California
        ZEV</stdText></emissionsInfo></emissionsList><engId>100</engId><eng_dscr></eng_dscr><evMotor>150
        kW ACPM</evMotor><feScore>10</feScore><fuelCost08>550</fuelCost08><fuelCostA08>0</fuelCostA08><fuelType>Electricity</fuelType><fuelType1>Electricity</fuelType1><fuelType2></fuelType2><ghgScore>10</ghgScore><ghgScoreA>-1</ghgScoreA><guzzler></guzzler><highway08>110</highway08><highway08U>110.18</highway08U><highwayA08>0</highwayA08><highwayA08U>0.0</highwayA08U><highwayCD>0.0</highwayCD><highwayE>30.5909</highwayE><highwayUF>0.0</highwayUF><hlv>0</hlv><hpv>0</hpv><id>39786</id><lv2>0</lv2><lv4>23</lv4><make>Chevrolet</make><mfrCode>GMX</mfrCode><model>Bolt
        EV</model><modifiedOn>2018-01-24T00:00:00-05:00</modifiedOn><mpgData>N</mpgData><mpgRevised>false</mpgRevised><phevBlended>false</phevBlended><phevCity>0</phevCity><phevComb>0</phevComb><phevHwy>0</phevHwy><pv2>0</pv2><pv4>94</pv4><range>238</range><rangeA></rangeA><rangeCity>255.1</rangeCity><rangeCityA>0.0</rangeCityA><rangeHwy>217.4</rangeHwy><rangeHwyA>0.0</rangeHwyA><startStop>N</startStop><trans_dscr></trans_dscr><trany>Automatic
        (A1)</trany><UCity>182.2</UCity><UCityA>0.0</UCityA><UHighway>157.4</UHighway><UHighwayA>0.0</UHighwayA><VClass>Small
        Station Wagons</VClass><year>2018</year><youSaveSpend>4750</youSaveSpend><sCharger></sCharger><tCharger></tCharger></vehicle>
  recorded_at: Wed, 18 Apr 2018 04:18:56 GMT
recorded_with: VCR 4.0.0
