<div class="login-background">
  <div class="top-login-text">
    <h1>Never Again</h1>
  </div>
  <div class="bottom-login-text">
    <h1>Experience Range Anxiety.</h1>
    <p><%= link_to "Sign in with Google", "auth/google" %></p>
  </div>
</div>
