@mixin button($size) {
  text-align: center;
  height: $size;

    a {
      background-color: $shamrock;
      color: $white;
      }

      a:hover {
        background-color: $granny;
        color: $white;
      }

      a:active {
        background-color: $granny;
        color: $white;
      }
}
