$jet-black: #342E37;
$onyx: #343E3D;
$white: #FAFFFD;
$coral: #FA824C;
$granny: #B5D99C;
$granite: #607466;
$seafoam: #AEDCC0;
$shamrock: #6BAA75;
$cerulean: #094074;
$queen: #3C6997;
$lightning: #FFDD4A;
$maya: #67C6FC;
