@import "modules/buttons";
@import "modules/colors";
@import "modules/circles";

body, html {
  margin: 0px;
  height: 100%;
  background-color: $white;
}

h1 {
  font-family: 'Fjalla One', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 46px;
  font-size: 60px;
  margin: 0 0 23px 0;
}

h2 {
   font-family: 'Cantarell', sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 23px;
   text-transform: uppercase;
   letter-spacing: -1px;
   margin: 0 0 23px 0;
   }

p {
   font-family: 'Cantarell', sans-serif;
   font-size: 17px;
   line-height: 23px;
   margin: 0 0 23px 0;
   }

a {
  text-decoration: none;
  color: $white;
}

a:hover {
  color: $lightning
}
a:active {
  color: $queen
}
