@import "partials/base";
@import "partials/login";
@import "partials/form";

.dashboard-circle-button {
  @include circle(250px, 27px);
  margin: 30px;
}

.nav-text {
  font-size: 24px;
}

.dashboard-text {
  font-size: 28px;
  color: $jet-black;
}

.blue-glow {
  box-shadow:
  inset 0 0 50px #4666FF,
  0 0 50px #4666FF;
}

.color {
  color: #E117FC;
}

.dashbaord {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.left-secondary-half  {
  width: 50%;
}

.profile {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.right-primary-half {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  p {
    color: $white;
  }
}

.background {
  @include box
}

#map {
  width: 300px;
  height: 300px;
}


  .info {
    width: 100%;
    height: 35vh;
    p {
      padding: 20px;
      padding-left: 40px;
    }
  }

  #map-1 {
    width: 100%;
    height: 60vh;
    margin: 29px;
  }

.address {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #3887be;
  pointer-events: none;
}

.car-image {
  width: 200px;
  height: 200px;
  margin: 15px;
  border-radius: 50%;
}

#station-map {
  width: 100%;
  height: 100vh;
}

#comparision-map {
  width: 100%;
  height: 60vh;
}

.info-top-quarter {
  height: 40vh;
  display: flex;
  justify-content: space-between;
}

.vehicle-1 {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 5px;
  h2 {
    padding: 1px;
  }
}

.vehicle-2 {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 5px;
  h2 {
    padding: 1px;
  }
}

.vehicle-pic {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;

  h2   {
    color: $jet-black;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: $white;
    font-size: 20px;
    font-weight: bolder;
    background-color: $jet-black;
    padding: 10px;
  }

  a:hover {
    color: $granite;
    background-color: $lightning;
  }

  a:active {
    color: $jet-black;
  }
}

#nav-bar {
  width: 100%;
  height: 55px;
  background: image-url('red-vinyl-wood.jpg');
  background-repeat: repeat;
}

.info-top-quarter-search {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.vehicle-list {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.button {
  color: $white;
  font-size: 20px;
  font-weight: bolder;
  background-color: $jet-black;
  padding: 10px;
  cursor: pointer;
  }

.button:hover {
    color: $granite;
    background-color: $lightning;
  }

.button:active {
    color: $jet-black;
  }

.flash {
  align-items: center;
  color: $white;
}
