@import "partials/base";
@import "partials/login";
@import "partials/form";

.dashboard-circle-button {
  @include circle(250px, 27px);
}

.blue-glow {
  box-shadow:
  inset 0 0 50px #4666FF,
  0 0 50px #4666FF;
}

.color {
  color: #E117FC;
}

.dashbaord {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
}

.left-secondary-half  {
  width: 50%;
  background: linear-gradient(
   rgba(0, 0, 0, 0.8),
   rgba(0, 0, 0, 0.8)
   ),
   image-url('leather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.right-primary-half {
  background-image: image-url('leather.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.background {
  @include box
}

#map {
  width: 300px;
  height: 300px;
}


  .info {
    width: 100%;
    height: 35vh;
    p {
      padding: 20px;
      padding-left: 40px;
    }
  }

  #map-1 {
    width: 100%;
    height: 65vh;
    margin: 29px;
  }

.address {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #3887be;
  pointer-events: none;
}

.car-image {
  width: 200px;
  height: 400px;
}

#station-map {
  width: 100%;
  height: 100vh;
}
