/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "partials/base";
@import "partials/login";

.nav {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  background-color: $cerulean;
  align-items: center;
  p {
    padding: 20px 20px 0px 0px;
  }
}

.dashboard-nav {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.dashboard-circle-button {
  @include circle(250px, 30px)
}

.dashboard-large-circle-button {
  @include circle(300px, 40px)
}

.dashboard-profile {
  background-color: $cerulean;
  height: 280px;
  padding: 30px;
}

.dashboard-profile-nav {
  display: flex;
  justify-content: space-around;
}

.dashboard-profile-vehicles {

}

// .dashboard-nav {
//   background-image: url('stephen-monroe.jpg');
//   background-repeat: no-repeat;
//   height: 50%;
//   background-size: cover;
//   background-position: center;
//   flex-direction: column;
//   align-items: center;

//   h2 {
//     position: relative;
//     z-index: 1;
//     margin-top: -330px;
//
//     a {
//       color: $white;
//     }
//   }
// }

.transparent-bar {
  background-color: #342E37;
  width: 100%;
  display: flex;
  justify-content: space-around;
  opacity: 0.5;
  height: 100px;
}
