<!DOCTYPE html>
<html>
  <head>
    <title>ElectricRoadtrip</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="http://fonts.googleapis.com/css?family=Fjalla+One|Cantarell:400,400italic,700italic,700" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
